body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
}

#container{
    position: relative;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registerBlock {
    width: 660px;
    height: 462px;
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: arr 0.4s;
    justify-content: space-between;
}

#column {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    animation: arr 0.4s;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

input, button, option, select{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(227, 227, 227);
    transition: 0.3s;

}

select {
    width: 100%;
}

option {
    padding: 10px;
}

#loginBlock {
    padding: 30px;
    background-color: white;
    display: none;
    flex-direction: column;
    animation: arr 0.4s;
    margin-left: 40px;
}

@keyframes arr {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#loginBtn {
    width: 100%;
}

button:hover {
    background-color: rgb(160, 160, 160);
    transition: 0.3s;
}

#removeBtn {
    text-decoration: underline;
    color: blue;
}

#removeBtn2 {
    text-decoration: underline;
    color: blue;
}

#header {
    width: 100%;
    padding: 5x;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 15px grey;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

#header2 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-left: 80px;
}

.margin {
    margin-top: 40px;
}

#img {
    margin-left: 250px;
}

#btn{
    padding: 5px;

    transition: 0.3s;
    border: 1px solid grey;
}

#btn:hover {
    transition: 0.3s;
    background-color: rgb(236, 236, 236);
    box-shadow: -5px 5px grey;
}

#errorLog {
    color: white;
}